<div class="content-container text-c">
  <h2>Admin page</h2>
  <div class="content-container">
    <%= link_to "Add Project", new_project_path, class: 'btn btn-success' %>
    <%= link_to "Update Password", edit_user_path(current_user), :class => 'btn btn-success' %>
    <%= link_to "Sign Out", session_path(current_user), method: :delete, class: 'btn btn-success'  %>
  </div>
</div>