<div class="row">
  <div class="col-sm-6">
    <div class="content-container">
      <p>Thank you for your interest! We will get back to you shortly. In the meantime scroll down to play a game of
      Puppet Whack-a-mole!</p>
    </div>
  </div>
  <div class="col-sm-6">
  </div>
</div>

<%= render partial: 'whack_a_mole' %>
