/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: slategray;

}

nav{
  display:block;
  width: 100%;
  height: 20vh;
  padding: 10px;
  border-bottom: 5px slategray solid;
  background-color: white;

}

h1{
  position: relative;
  font-size: 3em;
  display: inline-block;
  padding-left: 20px;
  margin-top: 80px;
}

nav ul{
  float: right;
  margin: 0 15px 15px 0;
}
.box {
  height: 75px;
  width: 100px;
  overflow: hidden;
  text-align: center;
  margin-left: 60px;
}

.hid-box {
  top: 100%;
  position: relative;
  transition: all .5s ease-out;
  transition-timing-function: cubic-bezier(0.1, 1.6, 0.58, 1);
  height: 100%;
}

.link{
  display: inline-block;
}

.link:hover > .box > .hid-box{
  top: 10%;
}

nav ul li{
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding: 20px 5px;
  margin: 0 2px;
  background-color: slategray;
  color: white;
  width: 200px;
  text-align: center;
  font-size: 1.25em;
  position: relative;
}

nav ul span{
  position: absolute;
  display: none;
}

.nav-image{
  height: 75px;
}

.nav-image{
  display: inline;
}

nav ul li:hover{
  cursor: pointer;
  background-color: lightgrey;
  color: slategray;
}

nav ul li:hover span{
  top: -75px;
  left: 60px;
  display: inherit;
}

footer{
  background-color: white;
  height: 20vh;
  bottom: 0;
  padding: 20px;
}

.social a{
  font-size: 3em;
  padding: 20px;
}
