/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

body{
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.mobile-nav{
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari */
  transform: rotate(-2deg);
}

.alert{
  @extend .mobile-nav;
}

.mobile-nav i{
  margin-top: $large-gap;
  float: right;
  font-size: $heading-small-font;
  padding-right: $medium-gap;
}

#mobile ul{
  text-align: right;
  padding-right: $large-gap;
}

#mobile li{
  text-decoration: none;
  list-style: none;
  font-size: $medium-font;
}

h1{
  display: inline-block;
  margin: $large-gap 0 0 $medium-gap;
  font-size: $large-font;
  font-weight: $heavy-weight;
}

h1 a:hover{
  text-decoration: none;
}

.desktop-nav{
  display: none;
}

.row{
  padding: 50px;
}

.mainHeader a{
  font-size: $heading-small-font;
  padding-left: $medium-gap;
  color: $color2;
}

.mainHeader a:hover{
  color: $color1;
}

.box {
  height: 75px;
  width: 100px;
  overflow: hidden;
  text-align: center;
  margin-left: $medium-gap;
}

.hid-box {
  top: 100%;
  position: relative;
  transition: all .5s ease-out;
  transition-timing-function: cubic-bezier(0.1, 1.6, 0.58, 1);
  height: 100%;
}

.link{
  display: inline-block;
}

.link:hover > .box > .hid-box{
  top: 10%;
}

footer{
  background-color: white;
  height: 20vh;
  bottom: 0;
  padding: $medium-gap;
  margin-top: 55px;
}

.social a{
  font-size: $icon-size;
  padding: $medium-gap;
  color: $color3;
}

.social a:hover{
  color: $color1;
}

.banner{
  text-align: center;
}

.btn{
  background-color: $color3;
  color: $color4;
  border-color: $color3;
}

.btn:hover{
  background-color: $color4;
  color: $color3;
  border-color: $color4;
}

.skew{
  -ms-transform: $pos-rotate; /* IE 9 */
  -webkit-transform: $pos-rotate; /* Safari */
  transform: $pos-rotate;
  border-top: 3px $color1 solid;
}

.skew2{
  -ms-transform: $neg-rotate; /* IE 9 */
  -webkit-transform: $neg-rotate; /* Safari */
  transform: $neg-rotate;
  border-bottom: 3px $color1 solid;
}

p{
  font-size: $small-font;
  font-weight: $light-weight;
  line-height: 150%;
}

.inquiry-form{
  margin-top: $large-gap;
}

.content-container{
  padding: $small-gap;
}

.project-list-title{
  margin-top: $xl-gap;
}


@media screen and (min-width: 1135px) {
  .content-container{
    padding: $medium-gap;
    margin: $large-gap;
    background-color: $white;
  }

  .desktop-nav{
    display:block;
    width: 100%;
    height: 125px;
    background-color: $white;
    -ms-transform: $neg-rotate; /* IE 9 */
    -webkit-transform: $neg-rotate; /* Safari */
    transform: $neg-rotate;
    margin-top: $large-gap;
  }

  .desktop-nav ul li{
    display: inline-block;
    list-style: none;
    padding: 12px 5px;
    background-color: $color4;
    width: 125px;
    text-align: center;
    font-size: 1.25em;
    position: relative;
  }

  .desktop-nav ul{
    float: right;
    margin: 0 $small-gap $small-gap 0;
  }

  .desktop-nav ul li a{
    color: $color3;
    text-decoration: none;
  }

  .desktop-nav ul span{
    position: absolute;
    display: none;
  }

  h1{
    font-size: $heading-font;
    margin: 59px 0 0 10px;
  }

  .nav-image{
    height: 75px;
  }

  .nav-image{
    display: inline;
  }

  .desktop-nav ul li a:hover{
    cursor: pointer;
    color: $color1;
    text-decoration: none;
  }

  .desktop-nav ul li:hover span{
    top: -75px;
    left: 60px;
    display: inherit;
  }

  .grow{
    transition: all .2s ease-in-out;
  }

  .grow:hover{
    transform: scale(1.1);
  }

  .mobile-nav{
    display: none;
  }
}
