@import "variables";

.art-sale{
  width: 100%;
}

.art-types-sale{
  text-align: center;
  padding-bottom: $medium-gap;
}

.art-sale-text{
  min-height: 75px;
  padding-top: $small-gap;
}

@media(max-width: 1000px ){
  .art-types-sale{
    border-bottom: 2px dashed $color4;
    margin-bottom: $small-gap;
  }
}
