@import "variables";

table{
  width: 90%;
  margin: $small-gap;
  background-color: $white;
}

td, th{
  text-align: left;
  padding: $small-gap;
  font-size: $medium-font;
}

th {
  font-size: $large-font;
  font-weight: bold;
  border-bottom: 2px $color5 solid;
}

tr:nth-child(even){
  background-color: whitesmoke;
}

tr:nth-child(odd){
  background-color: $white;
}

.parallax {
  height: 50vh;
  max-height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  -ms-transform: $neg-rotate; /* IE 9 */
  -webkit-transform: $neg-rotate; /* Safari */
  transform: $neg-rotate;
}

.parallax1 {
  @extend .parallax;
  background-image: image_url("noah.jpg");
  background-position: top;
}

.parallax2 {
  @extend .parallax;
  background-image: image_url("snorf.jpg");
  -ms-transform: $pos-rotate; /* IE 9 */
  -webkit-transform: $pos-rotate; /* Safari */
  transform: $pos-rotate;
}

.parallax3 {
  @extend .parallax;
  background-image: image_url("customPuppet.jpg");
}

.post-div{
  display: inline-block;
}

@media (min-width: 600px){
  .parallax{
    background-position: center ;
    background-size: cover;
    height: 70vh;
    max-height: 900px;
  }

  .parallax3{
    background-position: center center ;
  }
}