@import "variables";

table{
  width: 90%;
  margin: 15px;
  background-color: white;
}

td, th{
  text-align: left;
  padding: 15px;
  font-size: 1.25em;
}

th {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px slategray solid;
}

tr:nth-child(even){
  background-color: whitesmoke;
}

tr:nth-child(odd){
  background-color: white;
}

.parallax {
  height: 70vh;
  max-height: 900px;
  background-attachment: fixed;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari */
  transform: rotate(-2deg);
}

.parallax1 {
  @extend .parallax;
  background-image: image_url("noah.jpg");
  background-position: top;
}

.parallax2 {
  @extend .parallax;
  background-image: image_url("snorf.jpg");
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Safari */
  transform: rotate(2deg);
}

.parallax3 {
  @extend .parallax;
  background-image: image_url("customPuppet.jpg");
  background-position: center center ;
}

.video{
  text-align: center;
  width: 100%;
  margin: auto;
}

.art-video{
  overflow: hidden;
  text-align: center;
}

.post-div{
  display: inline-block;
}
