@import "variables";

table{
  width: 90%;
  margin: 15px;
  background-color: white;
}

td, th{
  text-align: left;
  padding: 15px;
  font-size: 1.25em;
}

th {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px slategray solid;
}

tr:nth-child(even){
  background-color: whitesmoke;
}

tr:nth-child(odd){
  background-color: white;
}

.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  @extend .parallax;
  background-image: image_url("noah.jpg");
  background-position: top;
  height: 80vh;
}

.parallax2 {
  @extend .parallax;
  background-image: image_url("snorf.jpg");
}

.parallax3 {
  @extend .parallax;
  background-image: image_url("customPuppet.jpg");
}
