@import "variables";
@import 'application';

.flip-container {
  perspective: 1000px;
  background-color: $color4;
  display: inline-block;
  margin: 10px;
}

.flip-container:hover{
  background-color: $color2
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 230px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  margin: 15px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  max-width: 200px;
  height: 200px;
  background-color: white;
  padding: 15px;
  margin: auto;
  text-align: center;
  overflow: scroll;
}

.facepaintingExamples{
  @extend .content-container;
  width: 230px;
  height: 230px;
  background: $color3;
  -webkit-transition: width 2s;
  transition: width 1s;
  display: inline-block;
  overflow: hidden;
  }

.facepaintingExamples:hover {
  width: 445px;
}

.facepaintingText{
  text-align: center;
  display: inline-block;
  color:white;
  padding: 30px;
}

.facepaintingImage{
  display:inline-block;
}

.art-sample{
  cursor: pointer;
  margin: 15px;
  padding: 0;
  position: relative;
  border: $color1 5px solid
}

.square-preview {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color1;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.art-sample:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video{
  width: 105%;
  height: 105%;
  top: -5px;
  left: -5px;
  margin: -10px;
}

.art-video{
  overflow: hidden;
}

.puppet-video{
  margin-top: 60px;
  overflow: hidden;
}

@media (min-width: 1000px){
  .projects-container{
    display: grid;
    margin: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
