$color1: rgba(0, 191, 178, 1);
$color2: rgba(255, 111, 2, 1);
$color3: rgba(105, 4, 125, 1);
$color4: rgba(255, 230, 109, 1);
$color5: rgba(42, 45, 52, 1);
$white: rgba(255, 255, 255, 1);

$small-gap: 15px;
$medium-gap: 20px;
$large-gap: 35px;
$xl-gap: 50px;

$icon-size: 3em;
$heading-small-font: 2em;
$heading-font: 2.6em;
$large-font: 1.5em;
$medium-font: 1.2em;
$small-font: 1.1em;


$heavy-weight: 700;
$light-weight: 400;

$pos-rotate: rotate(2deg);
$neg-rotate: rotate(-2deg);