.monster{
  height: 80vh;
  overflow: scroll;
}

.monsterBody{
  max-height: 80vh;
  max-width: 100%;
}

.break{
  height: 50px;
}

.monster-making{
  background-color: white;
  padding: 30px;
  height: 80vh;
  width: 100%;
  overflow: scroll;
  margin: 30px;
}

.draggable{
  margin: 10%;
  border-radius: 0.75em;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

.resize-drag {
  width: 100%;
  box-sizing: border-box;
}

.resize-container {
  width: 100%;
  height: 60px;
}

.draggable img{
  width: 100%;
  position: static;
}

.col-sm-8{
  z-index: 0;
}

.col-sm-2{
  z-index: 1;
}

#drag-8{
  width: 50%;
}

.modal{
  background-color: rgba(255,255, 255, 0.70);
  width: 50%;
  text-align: center;
  margin: auto;
  height: 220px;
}
