@import "variables";

.monster{
  height: 83vh;
  overflow: scroll;
}

.monsterBody{
  height: 80vh;
  max-width: 100%;
  max-height: 1000px;
}

.break{
  height: 50px;
}

.monster-making{
  background-color: white;
  padding: 30px;
  height: 80vh;
  width: 100%;
  overflow: scroll;
  margin: 30px;
}

.draggable{
  margin: 10%;
  border-radius: 0.75em;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

.resize-drag {
  width: 100%;
  box-sizing: border-box;
}

.resize-container {
  width: 100%;
  height: 60px;
}

.draggable img{
  width: 100%;
  position: static;
}

.col-sm-8{
  z-index: 0;
}

.col-sm-2{
  z-index: 1;
}

#drag-8{
  width: 50%;
}

.modal{
  background-color: rgba(255,255, 255, 0.70);
  width: 50%;
  text-align: center;
  margin: auto;
  height: 220px;
}

.difficulty-label{
  font-size: 2em;
  padding: 15px;
}

input{
  margin-bottom: 20px;
}

.controls{
  text-align: center;
  margin-top: 15px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  line-height:1;
  margin: 0;
}

.score {
  background:rgba(255,255,255,0.2);
  padding:0 3rem;
  line-height:1;
  border-radius:1rem;
}

.game {
  box-sizing: border-box;
  width:600px;
  height:500px;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  padding-bottom: 50px;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: image_url('puppets/dirt.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom:-30px;
}

.mole {
  background-size:50%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.6s, background 0s;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.mole1{
  background:image_url('puppets/Barkin1.png');
}

.mole2{
  background:image_url('puppets/Archie1.png');
}

.mole3{
  background:image_url('puppets/Earl1.png');
}

.mole4{
  background:image_url('puppets/Jameson1.png');
}

.mole5{
  background:image_url('puppets/Yeti1.png');
}

.mole6{
  background:image_url('puppets/Chamille1.png');
}

.mole1.bonked {
  background:image_url('puppets/Barkin2.png');
}

.mole2.bonked{
  background:image_url('puppets/Archie2.png');
}

.mole3.bonked{
  background:image_url('puppets/Earl2.png');
}

.mole4.bonked{
  background:image_url('puppets/Jameson2.png');
}

.mole5.bonked{
  background:image_url('puppets/Yeti2.png');
}

.mole6.bonked{
  background:image_url('puppets/Chamille2.png');
}

.hole.up .mole {
  top:0;
}

.skew-without-border{
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Safari */
  transform: rotate(2deg);
}

.gameBoard{
  text-align: center;
}

.scoreBoard{
  @extend .skew-without-border;
  padding: 10px;
  background-color: $color4;
  color: $color1;
  font-size: 1.25em;
}

.whackapuppet{
  @extend .skew-without-border;
  color: $color4;
  background-color: $color1;
  margin: 0;
  padding: 10px;
  border: none;
}
