<div class="row">
  <div class="col-sm-6">
    <h2>Thank you for your purchase!</h2>
    <p>Please email me your inspiration image with any additional instructions, colonelernie@gmail.com</p>
  </div>
  <div class="col-sm-6">

  </div>
</div>