<div class="row">
  <div class="col-sm-6">
    <h2>Thank you for your purchase!</h2>
    <p>Please take a moment to tell me your inspiration with any additional instructions or links to images.
      Or, optionally, email me at colonelernie@gmail.com with attachments.</p>
  </div>
  <div class="col-sm-6">
    <%= render partial: 'posts/inquiry' %>
  </div>
</div>
